.header {
  padding: 2rem;
}
.header ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.header ul li {
  text-decoration: none;
}
.header a {
  color: #e5e5e5;
  font-size: 1.15rem;
  text-decoration: none;
}
.header a.active,
.header a:hover {
  color: #fcb66b;
}
