.posts {
  display: flex;
  gap: 2.5 rem;
  max-width: 40rem;
  margin: 2 rem auto;
  flex-direction: column;
}
.posts h2 {
  font-weight: normal;
  font-size: 1.15 rem;
  text-transform: capitalization;
}
.posts a {
  display: block;
  color: inherit;
  border-radius: 4px;
  text-decoration: none;
  background-color: #343232;
}
.posts a:hover {
  background-color: #665a4d;
}
